/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: sans-serif;
}

/* Inputs area */
.inputs {
    padding: 40px;
    text-align: center;
}
.inputs input {
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    width: 320px;
}
.inputs button {
    padding: 8px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    cursor: pointer;
}

/* Todos area */
.todos-container {
    width: 70%;
    margin: auto;
    background-color: #F5F7F7;
    padding: 30px;
    border-radius: 15px;
}
.todos-list {
    list-style-type: none;
}
.todos-list .todo {
    border-bottom: 2px solid #e3e6e9;
    padding: 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}
.todos-list .todo:hover {
    background: white;
}
.text-item {
    cursor: pointer;
}
.todos-list .todo .actions span {
    cursor: pointer;
}
.todos-list .todo .actions span:hover {
    color: red;
}
.line-through {
    text-decoration: line-through;
}